<div class="jumbotron">
	<h1 class="text-center">Mongo Scraper</h1>
	<p class="text-center">Reddit News Scraper</p>
	<p class="text-center"><a class="btn btn-info btn-lg" href="/index">Click here to start scraping</a></p>
</div>